@mixin flex {
    display: flex;
    gap: calc(var(--index) * 1);
}

@mixin flex-column {
    @include flex;

    flex-direction: column;
}

@mixin flex-center {
    @include flex;

    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    @include flex;

    align-items: center;
    justify-content: space-between;
}

$primary-color: #4CAF50;
$red-color: #FF4D4D;
$text-color: #333333;
$input-bg-color: #FFFFFF;
$shadow: 0px calc(var(--index) * 0.2) calc(var(--index) * 0.4) rgba(0, 0, 0, 0.1);

.container {
    max-width: calc(var(--index) * 50);
    margin: 0 auto;
    padding: calc(var(--index) * 1.5);
    font-family: 'Roboto', sans-serif;

    h1 {
        font-size: calc(var(--index) * 1.4);
        color: $text-color;
        text-align: center;
        margin-bottom: calc(var(--index) * 1.2);
    }

    h2 {
        font-size: calc(var(--index) * 1.1);
        color: $text-color;
        margin: 0;
    }

    .info {
        @include flex-between;
        
        background-color: $input-bg-color;
        padding: calc(var(--index) * 1);
        border-radius: calc(var(--index) * 0.4);
        box-shadow: $shadow;
        margin-bottom: calc(var(--index));

        p {
            margin: 0;
            color: $text-color;
            font-size: calc(var(--index) * 0.8);
        }
    }

    .create {
        @include flex-column;
        
        background-color: $input-bg-color;
        padding: calc(var(--index) * 1.2);
        border-radius: calc(var(--index) * 0.4);
        box-shadow: $shadow;
        margin-bottom: calc(var(--index));

        &__title {
            font-size: calc(var(--index) * 1);
            color: $text-color;
            text-align: center;
        }

        .form {
            @include flex-column;

            &__wrapper {
                label {
                    display: block;
                    font-weight: bold;
                    color: $text-color;
                    font-size: calc(var(--index) * 0.7);
                    padding-left: calc(var(--index) * 0.25);;
                    margin-bottom: calc(var(--index) * 0.2);
                }
            }

            @media screen and (max-width: 1920px) {
                &__wrapper {
                    input, textarea, select {
                        width: 100%;
                        border: 1px solid #ddd;
                        transition: border-color 0.3s ease;
                    }
                }

                &__linewrapper {
                    @include flex-between;

                    align-items: end;
                }
            }

            @media screen and (max-width: 1000px) {
                &__wrapper {
                    label {
                        display: block;
                        font-weight: bold;
                        color: $text-color;
                    }
    
                    input, textarea, select {
                        width: 100%;
                        border: 1px solid #ddd;
                        transition: border-color 0.3s ease;
                    }
                }

                &__linewrapper {
                    @include flex-column;
                    
                    > div {
                        width: 100%;
                    }
                }
            }
        }
    }

    .bids {
        .bid {
            background-color: $input-bg-color;
            padding: calc(var(--index) * 1);
            border-radius: calc(var(--index) * 0.4);
            box-shadow: $shadow;
            margin-bottom: calc(var(--index) * 1);

            &__header {
                @include flex-between;
                
                margin-bottom: calc(var(--index) * 0.6);

                h3 {
                    margin: 0;
                    font-size: calc(var(--index) * 1);

                    &.status {
                        color: $primary-color;
                    }

                    &.fate {
                        color: #888;
                    }
                }
            }

            &__info {
                &__wrapper {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: calc(var(--index) * 0.4);

                    h4 {
                        margin: 0;
                        color: $text-color;
                        font-size: calc(var(--index) * 0.8);
                    }
                
                    &__data {
                        color: #666;
                        width: 80%
                    }
                }
            }

            &__btns {
                @include flex-between;

                margin-top: calc(var(--index) * 1.5);

                .bid__btn {
                    @include flex-center;
                    padding: calc(var(--index) * 0.3) calc(var(--index) * 0.8);
                    border: none;
                    border-radius: calc(var(--index) * 0.3);
                    font-size: calc(var(--index) * .8);
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }
                
                .bid__cancelBtn {
                    background-color: $red-color;
                    color: white;

                    &:hover {
                        background-color: darken($red-color, 10%);
                    }
                }

                .bid__endBtn {
                    background-color: $primary-color;
                    color: white;

                    &:hover {
                        background-color: darken($primary-color, 10%);
                    }
                }
                
                .bid__endBtn {
                    margin-left: auto;
                }
            }
        }
    }
}
